<main>
    <div class="container">
        <div class="p-5 mb-5 bg-light rounded-3">
            <div class="container-fluid py-5">
                <div class="row">
                    <div class="col-md-8 fs-4">
                        <h1 class="display-5 fw-bold">Qu'est-ce E-Library ?</h1>
                        E-Library a été créée en 2020 par Abdou Khadre Djielani Bodian avec l'envie de democratiser la vente de livre, dans un univers où Tout le monde n'a pas acces aux bibliotech ni au librairie classique.
                    </div>
                    <div class="col-md-4">
                        <img src="../assets/images/question.png" alt="" height="300" width="" class="mb-5 d-block">
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-md-stretch mb-5">
            <div class="col-md-6">
                <div class="h-100 p-5 text-bg-dark rounded-3">
                    <h2>Notre vision</h2>
                    <p>
                        Il y a cette notion que lire, il faut avoir les moyens. Mais nous savons qu'il existe une meilleure façon de grandir. Celui où ce qui est bon pour nous est également bon pour les clients. Nous pensons que les lecteurs peuvent se s'enrichire avec une conscience et qu'ils peuvent le faire avec l'inbound. C'est pourquoi nous avons créé un écosystème réunissant Roman, éducation et communauté pour vous aider à vous développer chaque jour.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Notre mission</h2>
                    <p>
                        Il y a cette notion que lire, il faut avoir les moyens. Mais nous savons qu'il existe une meilleure façon de grandir. Celui où ce qui est bon pour nous est également bon pour les clients. Nous pensons que les lecteurs peuvent se s'enrichire avec une conscience et qu'ils peuvent le faire avec l'inbound. C'est pourquoi nous avons créé un écosystème réunissant Roman, éducation et communauté pour vous aider à vous développer chaque jour.
                    </p>
                </div>
            </div>
        </div>
        <div class="row featurette mb-5 rounded-2 p-3" style="background-color: #ffd695e8;">
            <div class="col-md-6 rounded-2" style="background-color: #fdd79ab6;">
                <h2 class="featurette-heading lh-1 mb-5 mt-2">Nos objectifs</h2>
                <p class="lead">
                    <span class="mb-1 d-block"><i class="bi bi-check2-circle"></i> Connecter le lecteur à la boutique à un niveau plus profond </span> <br>
                    <span class="mb-1 d-block"><i class="bi bi-check2-circle"></i> Fournir un aperçu contextuel de la raison pour laquelle le fondateur a créé l’entreprise </span> <br>
                    <span class="mb-1 d-block"><i class="bi bi-check2-circle"></i> Partager les valeurs fondamentales, la mission, les croyances et la vision de l’entreprise </span> <br>
                    <span class="mb-1 d-block"><i class="bi bi-check2-circle"></i> Répondre à toutes les questions que les lecteurs peuvent se poser sur l’entreprise </span> <br>
                </p>
            </div>
            <div class="col-md-6">
                <img src="../assets/images/ojectif.png" alt="" height="500" width="500" class="mt-5 ms-5 img-fluid rounded">
            </div>
        </div>
    </div>
</main>