<span routerLink="{{book.id}}">
  <div style="height: 250px; width: 540px; ;">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Roman</strong>
        <h3 class="mb-0">{{book.title}}</h3>
        <div class="mb-1 text-muted">{{book.auteur}}</div>
        <p class="card-text mb-auto text-truncate" style="width: 250px; ">{{book.description}}</p>
        <div>
          <button (click)="voirLivre()" class="stretched-link btn btn-secondary">Voir</button>
        </div>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img [src]="book.imageURL" width="200" height="250">
      </div>
    </div>
  </div>
</span>